html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

.about-me {
  max-width: 1080px;
  margin: 0 auto;
}



h2 {
  text-align: center;
  font-style: italic;
  font-size: 2.5rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

article {
  display: flex;
  flex-direction: column;
  border: 3px solid #f2f2f2;
}

article > img  {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

h3 {
  flex-grow: 1;
}

.article-details {
  padding: 1rem;
}

.author-info {
  display: flex;
  gap: .5rem;
}

.author-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.hero-banner {
  width: 100%;
  height: 80vh;
  background-color: #000;
  background-image: url('images/nick-adams-yTWq8n3-4k0-unsplash.jpg');
  background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background: #000 url('images/nick-adams-yTWq8n3-4k0-unsplash.jpg' no-repeat center cente);
 }
